In [77]:
import pandas as pd
from itertools import product

In [78]:
p = True # Hace calor
q = False # Usare bloqueador

print("p:", p)
print("Negacion:", not p)
print("Conjuncion:", p and q)
print("Disyuncion:", p or q)
print("Implicacion:", not p or q)
print("Doble implicacion:", p == q)

p: True
Negacion: False
Conjuncion: False
Disyuncion: True
Implicacion: False
Doble implicacion: False

In [79]:
p = True # Hace calor
q = False # Usare bloqueador
r = False # Usare un short

print("(p ∨ q ) ∧ ~r =", (p or q) and not r)

(p ∨ q ) ∧ ~r = True

In [80]:
# p
# q

combinations = [ (True, True),
                (True, False),
                (False, True),
                (False, False) ]

In [81]:
for p, q in combinations:
    print(f'p: {p}, q: {q}')
    print(f'p and q: {p and q}')
    print(f'p or q: {p or q}')
    print(f'not p: {not p}')
    print(f'not q: {not q}')

p: True, q: True
p and q: True
p or q: True
not p: False
not q: False
p: True, q: False
p and q: False
p or q: True
not p: False
not q: True
p: False, q: True
p and q: False
p or q: True
not p: True
not q: False
p: False, q: False
p and q: False
p or q: False
not p: True
not q: True

a) No fui al cine, pero leí el libro

b) Ni fui al cine ni leí el libro

c) No es cierto que fui al cine y leyese el libro

d) Fui al cine, aunque no leí la novela

e) No me gusta trasnochar ni madrugar

f) Si no estuvieras loco, no habrías venido aquí

In [ ]:
# p = fui al cine
# q = leí el libro/novela
# r = me gusta trasnochar
# s = me gusta madrugar
# t = estas loco
# u = has venido aqui

In [83]:
# Problema 1

# b)

tabla_b = []

for p, q in product([True, False], repeat=2):
    premisa1 = (not p) or q
    premisa2 = (not q)
    conclusion = (not p)

    inferencia = (premisa1 and premisa2) == conclusion
    tabla_b.append([p, q, premisa1, premisa2, conclusion, inferencia])

df = pd.DataFrame(tabla_b, columns=['p', 'q', 'premisa1', 'premisa2', 'conclusion', 'inferencia'])
df

       p      q  premisa1  premisa2  conclusion  inferencia
0   True   True      True     False       False        True
1   True  False     False      True       False        True
2  False   True      True     False        True       False
3  False  False      True      True        True        True

In [84]:
# c) El cielo azul me pone contento y el cielo gris me pone triste. El cielo esta azul o gris

# p = El cielo es azul
# q = El cielo es gris
# r = Estoy contento
# s = Estoy triste

# premisa1 = (p -> r)
# premisa2 = (q -> s)
# total = ((p -> r) v (q -> s))

tabla_c = []

for p, q, r, s in product([True, False], repeat=4):
    premisa1 = (not p) or r
    premisa2 = (not q) or s
    conclusion = (p or q)

    inferencia = (premisa1 and premisa2) == conclusion
    tabla_c.append([p, q, r, s, premisa1, premisa2, conclusion, inferencia])

df = pd.DataFrame(tabla_c, columns=['p', 'q', 'r', 's', 'premisa1', 'premisa2', 'conclusion', 'inferencia'])
df

        p      q      r      s  premisa1  premisa2  conclusion  inferencia
0    True   True   True   True      True      True        True        True
1    True   True   True  False      True     False        True       False
2    True   True  False   True     False      True        True       False
3    True   True  False  False     False     False        True       False
4    True  False   True   True      True      True        True        True
5    True  False   True  False      True      True        True        True
6    True  False  False   True     False      True        True       False
7    True  False  False  False     False      True        True       False
8   False   True   True   True      True      True        True        True
9   False   True   True  False      True     False        True       False
10  False   True  False   True      True      True        True        True
11  False   True  False  False      True     False        True       False
12  False  False   True   True      True      True       False       False
13  False  False   True  False      True      True       False       False
14  False  False  False   True      True      True       False       False
15  False  False  False  False      True      True       False       False

In [85]:
# 2
# a) Si la ballena es un mamífero, entonces toma oxigeno del aire. Si toma su oxigeno del
# aire, entonces no necesita branquias. La ballena es un mamífero y vive en el océano.
# Por lo tanto no necesita branquias.

# p = La ballena es un mamífero
# q = La ballena toma oxigeno del aire
# r = La ballena necesita branquias
# s = La ballena vive en el oceano

# premisa1 = (p -> q)
# premisa2 = (q -> ~r)
# premisa3 = (p ∧ s)
# conclusion = ~r

tabla_a = []
for p, q, r, s in product([True, False], repeat=4):
    premisa1 = (not p) or q
    premisa2 = (not q) or (not r)
    premisa3 = (p and s)
    conclusion = (not r)
    inferencia = (premisa1 and premisa2 and premisa3) == conclusion
    tabla_a.append([p, q, r, s, premisa1, premisa2, premisa3, conclusion, inferencia])

df = pd.DataFrame(tabla_a, columns=['p', 'q', 'r', 's', 'premisa1', 'premisa2', 'premisa3', 'conclusion', 'inferencia'])
df

,p,q,r,s,premisa1,premisa2,premisa3,conclusion,inferencia
0,True,True,True,True,True,False,True,False,True
1,True,True,True,False,True,False,False,False,True
2,True,True,False,True,True,True,True,True,True
3,True,True,False,False,True,True,False,True,False
4,True,False,True,True,False,True,True,False,True
5,True,False,True,False,False,True,False,False,True
6,True,False,False,True,False,True,True,True,False
7,True,False,False,False,False,True,False,True,False
8,False,True,True,True,True,False,False,False,True
9,False,True,True,False,True,False,False,False,True
10,False,True,False,True,True,True,False,True,False
11,False,True,False,False,True,True,False,True,False
12,False,False,True,True,True,True,False,False,True
13,False,False,True,False,True,True,False,False,True
14,False,False,False,True,True,True,False,True,False
15,False,False,False,False,True,True,False,True,False